<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Recruitment Process</title>
</head>
<body>
    <label for="name">Name</label>
    <input type="text" name="name" value="" id="name"/>
    <label for="surname">Surname</label>
    <input type="text" name="surname" value="" id="surname"/>
    <label for="mail">Email</label>
    <input type="email" name="mail" value="" id="mail"/>
    <label for="number">Mobile Number</label>
    <input type="number" name="number" value="" id="number"/>
    <label for="desc"></label>
    <textarea id="desc" name="desc"></textarea>
</body>
</html>